/*表格*/
body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

table th {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #f9f9f9;
}

/* 添加以下样式代码 */
.top-left-buttons {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* 调整创建窗口样式 */
#update-form-overlay,
#create-ruleGroup-form-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#update-form,
#create-ruleGroup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 600px; /* 调整弹窗框的宽度 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#update-form h2,
#create-ruleGroup-form h2 {
    margin-top: 0;
}

#update-form label,
#create-ruleGroup-form label {
    display: block;
    margin-bottom: 3px; /* 调整标签和输入框的间距 */
}

#update-form input[type="text"],
#create-ruleGroup-form input[type="text"] {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

/*蓝色字体按钮*/
.rule-group-link {
    color: blue;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}